In [14]:
import yfinance as yf
import pandas as pd

# Define the ticker symbol
ticker_symbol = 'KSS'

# Get data on this ticker
ticker_data = yf.Ticker(ticker_symbol)

In [15]:
ticker_symbol = 'WMT'

ticker_data = yf.Ticker(ticker_symbol)

balance_sheet = ticker_data.balance_sheet
financials = ticker_data.financials
cashflow = ticker_data.cashflow

In [16]:
pd.set_option('display.max_rows', 1000)

In [18]:
companies = {
    'Walmart':'WMT',
    'Kohls':'KSS',
    'Amazon':'AMZN',
    'Costco':'COST',
    'Lowes':'LOW',
    'Target':'TGT',
    'Kroger':'KR',
    'Tesco':'TSCO',
    'Carrefour':'CA.PA',
    'Sainsburys':'SBRY.L',
    'Koninklijke Ahold Delhaize NV':'AD.AS',
     'Loblaws':'L.TO',
    'Woolworths Group':'WOW.AX',
    'Metro AG':'B4B.DE',
    'Seven & I Holdings':'SVNDY',
    'Grupo Bimbo':'BIMBOA.MX'}

In [19]:
import pandas as pd

In [20]:
balance_sheets = pd.DataFrame()
financial_sheets = pd.DataFrame()
for ticker in companies.values():
    ticker_data = yf.Ticker(ticker)
    balance_sheet = ticker_data.balance_sheet
    balance_sheets[ticker] = balance_sheet.iloc[:,0]
    
    financials = ticker_data.financials
    financial_sheets[ticker] = financials.iloc[:,0]

In [21]:
df_annual_reports = pd.concat([balance_sheets, financial_sheets]).T

In [22]:
df_annual_reports['APT'] = df_annual_reports['Cost Of Revenue']/df_annual_reports['Accounts Payable']
df_annual_reports['INVT'] = df_annual_reports['Cost Of Revenue']/df_annual_reports['Inventory']
df_annual_reports['ART'] = df_annual_reports['Total Revenue']/df_annual_reports['Accounts Receivable']
df_annual_reports['PPET'] = df_annual_reports['Net PPE']/df_annual_reports['Total Revenue']

In [23]:
df_annual_reports['ART'] = df_annual_reports['ART'].fillna(0)

In [24]:
df_annual_reports['C2C'] = (- 1/df_annual_reports['APT'] + 1/df_annual_reports['INVT'] + 1/df_annual_reports['ART'])*52

In [25]:
df_annual_reports['Gross_Margin'] =  df_annual_reports['Cost Of Revenue'] / df_annual_reports['Total Revenue']
df_annual_reports['Margin'] =  df_annual_reports['Operating Income'] / df_annual_reports['Total Revenue']

In [26]:
pd.options.display.float_format = '{:,.3f}'.format

In [27]:
df_annual_reports = df_annual_reports.assign(Names=list(companies.keys()))

In [28]:
df_annual_reports[['Names', 'APT', 'INVT', 'ART', 'C2C', 'PPET', 'Gross_Margin', 'Margin', 'Total Revenue']]

,Names,APT,INVT,ART,C2C,PPET,Gross_Margin,Margin,Total Revenue
WMT,Walmart,8.587,8.196,77.056,0.963,0.195,0.759,0.033,"611,289,000,000.000"
KSS,Kohls,8.614,3.593,0.000,inf,0.565,0.633,0.014,"18,098,000,000.000"
AMZN,Amazon,5.607,12.973,12.134,-0.980,0.492,0.868,0.024,"513,983,000,000.000"
COST,Costco,12.160,12.767,106.035,0.287,0.121,0.877,0.033,"242,290,000,000.000"
LOW,Lowes,6.158,3.497,0.000,inf,0.217,0.668,0.105,"97,059,000,000.000"
TGT,Target,6.097,6.091,93.345,0.565,0.313,0.754,0.035,"109,120,000,000.000"
KR,Kroger,16.362,15.407,66.364,0.980,0.212,0.786,0.028,"148,258,000,000.000"
TSCO,Tesco,6.603,3.407,0.000,inf,0.355,0.650,0.101,"14,204,717,000.000"
CA.PA,Carrefour,3.713,9.688,39.156,-7.310,0.202,0.804,0.028,"83,088,000,000.000"
SBRY.L,Sainsburys,3.035,15.528,7.660,-6.999,0.430,0.936,0.018,"31,491,000,000.000"
AD.AS,Koninklijke Ahold Delhaize NV,7.775,13.809,64.624,-2.117,0.254,0.732,0.043,"86,984,000,000.000"
L.TO,Loblaws,6.196,6.580,10.965,4.252,0.232,0.682,0.059,"56,504,000,000.000"
WOW.AX,Woolworths Group,8.382,12.741,162.770,-1.803,0.285,0.733,0.006,"64,294,000,000.000"
B4B.DE,Metro AG,6.411,10.067,49.507,-1.895,0.193,0.831,0.010,"29,754,000,000.000"
SVNDY,Seven & I Holdings,15.860,30.114,27.947,0.309,0.368,0.720,0.043,"11,811,302,000,000.000"
BIMBOA.MX,Grupo Bimbo,4.268,11.379,18.459,-4.797,0.356,0.485,0.144,"398,706,000,000.000"

In [29]:
df_annual_reports

,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,Common Stock Equity,...,Total Revenue,Operating Revenue,APT,INVT,ART,PPET,C2C,Gross_Margin,Margin,Names
WMT,"2,700,000,000.000","2,700,000,000.000","30,327,000,000.000","58,923,000,000.000","48,519,000,000.000","115,905,000,000.000","-16,543,000,000.000","48,519,000,000.000","19,711,000,000.000","76,693,000,000.000",...,"611,289,000,000.000","611,289,000,000.000",8.587,8.196,77.056,0.195,0.963,0.759,0.033,Walmart
KSS,"111,000,000.000","378,000,000.000","1,844,000,000.000","7,566,000,000.000","3,763,000,000.000","1,997,000,000.000","621,000,000.000","3,763,000,000.000","5,569,000,000.000","3,763,000,000.000",...,"18,098,000,000.000","17,161,000,000.000",8.614,3.593,0.000,0.565,inf,0.633,0.014,Kohls
AMZN,"10,242,000,000.000","10,757,000,000.000","13,262,000,000.000","140,118,000,000.000","125,755,000,000.000","213,193,000,000.000","-8,602,000,000.000","125,755,000,000.000","72,968,000,000.000","146,043,000,000.000",...,"513,983,000,000.000","513,983,000,000.000",5.607,12.973,12.134,0.492,-0.980,0.868,0.024,Amazon
COST,"442,793,000.000","442,793,000.000",NaN,"8,884,000,000.000","25,058,000,000.000","31,516,000,000.000","2,296,000,000.000","25,058,000,000.000","2,426,000,000.000","25,058,000,000.000",...,"242,290,000,000.000","242,290,000,000.000",12.160,12.767,106.035,0.121,0.287,0.877,0.033,Costco
LOW,"601,000,000.000","601,000,000.000","32,612,000,000.000","37,994,000,000.000","-14,254,000,000.000","19,706,000,000.000","1,931,000,000.000","-14,254,000,000.000","4,034,000,000.000","-14,254,000,000.000",...,"97,059,000,000.000","97,059,000,000.000",6.158,3.497,0.000,0.217,inf,0.668,0.105,Lowes
TGT,"460,346,947.000","460,346,947.000","13,910,000,000.000","18,777,000,000.000","11,232,000,000.000","27,371,000,000.000","-1,654,000,000.000","11,232,000,000.000","2,638,000,000.000","11,232,000,000.000",...,"109,120,000,000.000","107,588,000,000.000",6.097,6.091,93.345,0.313,0.565,0.754,0.035,Target
KR,"716,000,000.000","1,918,000,000.000","12,550,000,000.000","20,412,000,000.000","6,199,000,000.000","13,378,000,000.000","-4,065,000,000.000","6,199,000,000.000","7,034,000,000.000","10,014,000,000.000",...,"148,258,000,000.000","148,258,000,000.000",16.362,15.407,66.364,0.212,0.980,0.786,0.028,Kroger
TSCO,"110,251,000.000","176,876,000.000","961,554,000.000","4,270,160,000.000","1,789,154,000.000","3,206,472,000.000","781,563,000.000","1,789,154,000.000","3,106,104,000.000","2,042,416,000.000",...,"14,204,717,000.000","14,204,717,000.000",6.603,3.407,0.000,0.355,inf,0.650,0.101,Tesco
CA.PA,"730,612,591.000","742,157,461.000","4,342,000,000.000","14,087,000,000.000","867,000,000.000","20,702,000,000.000","-3,023,000,000.000","867,000,000.000","4,529,000,000.000","11,144,000,000.000",...,"83,088,000,000.000","83,088,000,000.000",3.713,9.688,39.156,0.202,-7.310,0.804,0.028,Carrefour
SBRY.L,"2,345,399,585.000","2,345,399,585.000",NaN,"7,145,000,000.000","6,229,000,000.000","7,909,000,000.000","-3,713,000,000.000","6,229,000,000.000","6,489,000,000.000","7,253,000,000.000",...,"31,491,000,000.000","31,491,000,000.000",3.035,15.528,7.660,0.430,-6.999,0.936,0.018,Sainsburys
AD.AS,"977,352,954.000","993,724,954.000","2,622,000,000.000","17,640,000,000.000","2,231,000,000.000","21,081,000,000.000","-4,264,000,000.000","2,231,000,000.000","11,964,000,000.000","15,405,000,000.000",...,"86,984,000,000.000","86,984,000,000.000",7.775,13.809,64.624,0.254,-2.117,0.732,0.043,Koninklijke Ahold Delhaize NV
L.TO,"322,840,330.000","322,840,330.000","6,883,000,000.000","17,606,000,000.000","250,000,000.000","19,569,000,000.000","3,278,000,000.000","471,000,000.000","9,115,000,000.000","11,078,000,000.000",...,"56,504,000,000.000","56,504,000,000.000",6.196,6.580,10.965,0.232,4.252,0.682,0.059,Loblaws
WOW.AX,"1,218,702,058.000","1,218,702,058.000","2,620,000,000.000","15,735,000,000.000","732,000,000.000","10,180,000,000.000","-5,511,000,000.000","732,000,000.000","11,980,000,000.000","6,425,000,000.000",...,"64,294,000,000.000","64,294,000,000.000",8.382,12.741,162.770,0.285,-1.803,0.733,0.006,Woolworths Group
B4B.DE,"363,097,253.000","363,097,253.000","453,000,000.000","4,125,000,000.000","1,125,000,000.000","3,622,000,000.000","-1,545,000,000.000","1,125,000,000.000","2,847,000,000.000","2,344,000,000.000",...,"29,754,000,000.000","29,754,000,000.000",6.411,10.067,49.507,0.193,-1.895,0.831,0.010,Metro AG
SVNDY,"883,224,983.000","886,441,983.000","1,304,922,000,000.000","3,932,179,000,000.000","1,109,919,000,000.000","6,450,386,000,000.000","-204,436,000,000.000","1,109,919,000,000.000","956,385,000,000.000","3,474,592,000,000.000",...,"11,811,302,000,000.000","11,811,302,000,000.000",15.860,30.114,27.947,0.368,0.309,0.720,0.043,Seven & I Holdings
BIMBOA.MX,"4,433,667,641.000","4,475,068,991.000","71,741,000,000.000","113,239,000,000.000","-3,036,000,000.000","208,165,000,000.000","-26,264,000,000.000","-3,036,000,000.000","29,185,000,000.000","124,111,000,000.000",...,"398,706,000,000.000","398,706,000,000.000",4.268,11.379,18.459,0.356,-4.797,0.485,0.144,Grupo Bimbo